# /usr/lib/systemd/system/emcontroller.service

[Unit]
Description=emcontroller
After=network.target

[Service]
Type=simple
ExecStart=[[PROJECTPATH]]/run.sh
PrivateTmp=true
KillMode=control-group
Restart=always
RestartSec=10
#StandardOutput=append:[[LOGPATH]]/emcontroller.log
#StandardError=append:[[LOGPATH]]/emcontroller.log

[Install]
WantedBy=multi-user.target
