<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Edit user</h2>
    <form action="/user/doEdit" method="post">
        ID: <input type="text" name="id"/> <br><br>
        Username: <input type="text" name="username"/> <br><br>
        Password: <input type="password" name="password"/> <br><br>

        Hobbies: <input type="checkbox" value=1 id="label1" name="hobby"/> <label for="label1">Eating</label>
                 <input type="checkbox" value=2 id="label2" name="hobby"/> <label for="label2">Sleeping</label>
                 <input type="checkbox" value=3 id="label3" name="hobby"/> <label for="label3">Coding</label>

      <input type="submit" value="submut">
    </form>
</body>
</html>